html {
    height: 100%;
}
body {
    min-height: 100%;
}

#hero {
    background-image: url("/images/edmonton.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}