<div class="card-columns">
    {% for item in site.category %}
    <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/266x160" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> {{ item.title }}</h5>
            <p class="card-text">{{ item.opening-sentence }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ item.url }}" class="">Go to discussion</a>
        </div>
    </div>
    {% endfor %}
</div>